body {
    margin: 0;
    padding: 0;
    position: relative;
    background-color: azure;
}

.main {
    position: relative;
    background-color: aliceblue;
    margin-top: 20px;
}

/* Cadre du profil*/
.profil {
    background-color: rgb(148, 190, 190);
    border: solid rgb(97, 145, 145) 20px;
    height: 100%;
    max-width: 700px;
    display: flex;
    margin: auto;
    text-align: center;
    position: relative;




    /* nom et nom d'utilisateur*/
    .nomU {
        margin: 0 auto;
        text-align: center;
        border-radius: 20px;
        position: absolute;
        left: 150px;
        z-index: 2;

        h1 {
            font-size: 30px;
            color: rgb(255, 255, 255);
            background-color: rgb(119, 96, 74);
        }

        h3 {
            font-size: 15px;
            background-color: black;
            color: antiquewhite;
            margin: -15px;
        }
    }

    /* image de couverture */
    .imgCouverture {
        width: 100%;
        max-height: 50%;


    }
}

.suivre {
    background-color: rgb(89, 204, 233);
    border-radius: 30px;
    height: 30px;
    width: 80px;
    position: absolute;
    top: 70%;
    left: 100%;
    z-index: 12;
}

.abonnes {
    border: solid rgb(200, 200, 228);
    border-radius: 30px;
    height: 30px;
    width: 135px;
    position: absolute;
    top: 70%;
    left: 65%;
    z-index: 12;
    color: aliceblue;
}

.imgProfile {
    background-color: aqua;
    border: solid rgb(200, 200, 228);
    border-radius: 50px;
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 80%;
    right: 110%;
    z-index: 12;

    img {
        border: solid rgb(200, 200, 228);
        border-radius: 50px;
        height: 100px;
        width: 100px;
        position: absolute;
        bottom: 0%;
        right: 0%;
        z-index: 12;
    }
}

/* Le Poste */
.post {
    display: flex;
    flex-direction: column;
}

.post1 {
    background-color: white;
    border: solid rgb(224, 213, 213);
    border-radius: 30px;
    height: 400px;
    width: 50%;
    padding: 0;
    margin: auto;
    text-align: center;
    position: relative;
    top: 100px;

    .imgP {
        background-color: rgb(27, 29, 29);
        height: 60px;
        width: 60px;
        border: solid rgb(157, 139, 223) 7px;
        border-radius: 30px;
        position: absolute;
        top: 20px;
        left: 20px;
    }

    img {
        height: 100%;
        width: 100%;
        border-radius: 20px;
        margin: auto;
        text-align: center;
    }
}





.trait {
    position: relative;
    bottom: -100px;
}

.signature {
    height: 10%;
    width: 13%;
    position: absolute;
    left: 75%;
    bottom: 10%;
}




/* Ecrire post */

.writePost {
    background-color: rgb(255, 255, 255);
    border: solid rgb(224, 213, 213);
    border-radius: 30px;
    height: 200px;
    width: 50%;
    padding: 0;
    margin: auto;
    text-align: center;
    position: relative;
    top: 100px;
    overflow: hidden;

    .imgP {
        background-color: rgb(27, 29, 29);
        height: 60px;
        width: 60px;
        border: solid rgb(157, 139, 223) 7px;
        border-radius: 30px;
        position: absolute;
        top: 80px;
        left: 20px;
    }

    img {
        height: 100%;
        width: 100%;
        border-radius: 20px;
        margin: auto;
        text-align: center;
    }

}


@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700|Source+Sans+Pro:300,400,600,700&display=swap");

$bg-color: #151728;
$border-color: #272a3a;
$title-font: "DM Sans",
sans-serif;
$body-font: "Source Sans Pro",
sans-serif;
$side-title: #5c5e6e;
$button: #8f98a9;

.box {
    background-color: $bg-color;
    border-radius: 4px;
}

.status-menu {
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom:solid rgb(207, 183, 183) 2px ;


    &-item {
        text-decoration: none;
        color: #ccc8db;
        padding: 10px 14px;
        line-height: 0.7;
        font-family: $title-font;
        font-weight: 500;
        border-radius: 20px;
        background-color: #324f9e;

        &.active,
        &:hover {
            background-color: #2e2e40;
            color: #fff;
        }
    }

    &-item+&-item {
        margin-left: 10px;
    }

    @media screen and (max-width: 500px) {
        font-size: 14px;

        &-item+&-item {
            margin-left: 0;
        }
    }
}

.status-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}

.status-main {
    padding: 0 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $border-color;
    padding-bottom: 20px;
    flex-wrap: wrap;
}

.status-textarea {
    background-color: #151728;
    width: 80%;
    height: 32%;
    border: solid rgb(255, 255, 255) 5px;
    border-radius: 60px;
    position: absolute;
    left: 16%;
    bottom: 55px;
    margin: auto;
    text-align: center;

    @media screen and (max-width: 1320px) {

        width: 70%;
        height: 25%;
        position: absolute;
        left: 27%;
    }
}


.status-action {
    text-decoration: none;
    color: #ccc8db;
    margin-right: 20px;
    display: flex;
    align-items: center;

    svg {
        width: 16px;
        flex-shrink: 0;
        margin-right: 8px;
    }

    @media screen and (max-width: 1320px) {
        width: 16px;
        overflow: hidden;
        color: transparent;
        white-space: nowrap;
    }
}

.status-share {
    height: 25px;
    width: 70px;
    background-color: #145bad;
    border: none;
    color: #fff;
    border-radius: 10px;
    margin-left: auto;
    box-shadow: 0 0 5px #1b86f9;
    cursor: pointer;
    position: absolute;
    left: 80%;

    @media screen and (max-width: 1320px) {
        height: 20px;
        width: 65px;
        overflow: hidden;
        font-size: 12px;

    }
}

.acting {
    list-style-type: none;
    background-color: #8f98a9;
    height: 60px;
    display: flex;
    flex-direction: row;
    margin: auto;
    position: relative;
    top: 80px;

    li {
        margin-top: 10px;
    }

}

/* Fin écrire post */

/* Box de commentaire */ 

.commentaire{
    height: 400px;
    width: 25%;
    border: solid rgb(224, 206, 206);
    border-radius: 5px;
    background-color: #fff;
    position: relative;
    left: 80%;
    top: -300px;
 

    .e-entete{
     
        height: 35px;
        width:100%;
        border-bottom: solid rgb(224, 206, 206) 0.7px;
        text-align: center;
    }

    .f-pied{
        border-top: solid rgb(224, 206, 206) 0.7px;
        height: 80px;
        width:100%;
        text-align: center;
        position:relative;
        top: 72%;

        #votreCommentaire{
            background-color: #ced1e4;
            border-radius: 30px;
            height: 30px;
            width:60%;
            margin: auto;
            text-align: center;
            position: absolute;
            left: 20%;
            top: 25px;
            &:hover{
                background-color: #7fd190;
                border: solid #1b86f9 1px ;
            }
            
        }

    }
}

/*  Sous le profil */

.underProfile{
    height: 400px;
    width: 100%;
    background-color: #787c9b;
    margin:auto;
    position: relative;
    bottom: -90px;

    .box-right{
    border-radius: 10px;
    height: 200px;
    width: 20%;
    background-color: #a9abbe;
    position: absolute;
    left: 2%;
    top: 40%;
   
    }

    .box-left{
        height: 300px;
        width: 20%;
        background-color: #a9abbe;
        position: absolute;
        left: 78%;
        top: 15%;
       
        }

    .vxx{
        height: 100px;
        width: 20%;
        border-radius: 10px;
        background-color: #070707;
        position: absolute;
        left: 2%;
        top: 5%;
        z-index: 1;
    }
    .vVideos{
        border: solid white;
        height: 60px;
        width: 60px;
        border-radius: 30px;
        background-color: #070707;
        position: absolute;
        left: 30%;
        top: 5%;
    }

    .vPhotos{
        border: solid white;
        height: 60px;
        width: 60px;
       
        border-radius: 30px;
        background-color: #070707;
        position: absolute;
        left: 45%;
        top: 5%;
    }

    .vAmis{
        
        border: solid white;
        height: 60px;
        width: 60px;
        border-radius: 30px;
        background-color: #070707;
        position: absolute;
        left: 60%;
        top: 5%;
    }
    
    .vAbonnements{
    
        border: solid white;
        height: 60px;
        width: 60px;
        border-radius: 30px;
        background-color: #070707;
        position: absolute;
        left: 75%;
        top: 5%;
    }
    .box-vos{
      
        height: 70px;
        width: 100%;
        border-bottom: #ced1e4 5px;
        margin: auto;
        text-align: center;
        position: relative;
        z-index: 0;
    }

}